<app-navbar title="Minhas Transações">
  <div *ngIf="spin" class="spin">
    <app-input-spin
      class="flex justify-center"
      [textBlack]="true"
    ></app-input-spin>
  </div>
  <div *ngIf="clients.length" class="min-w-full overflow-x-auto">
    <table class="min-w-full text-sm text-left">
      <thead>
        <tr class="border-b">
          <th class="py-3 px-6 font-semibold text-black">CPF</th>
          <th class="py-3 px-6 font-semibold text-black">Valor</th>
          <th class="py-3 px-6 font-semibold text-black">App Name</th>
        </tr>
      </thead>
      <tbody *ngIf="spin" class="spin">
        <tr>
          <td colspan="3" class="p-2">
            <app-input-spin
              class="flex justify-center"
              [textBlack]="true"
            ></app-input-spin>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="!spin" class="text-gray-600">
        <tr
          class="border-b"
          *ngFor="
            let client of clients
              | paginate
                : {
                    id: 'clients',
                    itemsPerPage: pageSize,
                    currentPage: currentPage,
                    totalItems: totalItems
                  }
          "
        >
          <td class="py-3 px-6 text-black">
            {{ client.cpf | mask : "000.000.000-00" }}
          </td>
          <td class="py-3 px-6 text-gray-600">
            {{ client.valor | currency : "BRL" }}
          </td>
          <td class="py-3 px-6 text-gray-600">
            {{ client.app_name }}
          </td>
        </tr>
      </tbody>
    </table>

    <app-pagination
      [currentPage]="currentPage"
      [pageSize]="pageSize"
      [totalItems]="totalItems"
      (pageChanged)="pageChanged($event)"
      title="clients"
    ></app-pagination>
  </div>
  <div *ngIf="msgError">
    <app-modal
      [content]="msgError"
      (close)="onModalCloseClick($event)"
    ></app-modal>
  </div>
</app-navbar>
